@font-face {
  font-family: "TT Lakes";
  src: url("font/TTLakes/TTLakes-Regular.woff") format("woff");
}
@font-face {
  font-family: "TT Lakes";
  src: url("font/TTLakes/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url("font/TTLakes/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}
.wrapper {
  overflow-x: hidden;
  font-family: "TT Lakes", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.container {
  display: flex;
}
.header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 24px 16px;
  width: 100%;
}
button {
  font-family: "TT Lakes";
  font-weight: 500;
  border: none;
  background-color: white;
}
.content {
  display: flex;
  flex-direction: column;
}
.content__text {
  overflow: hidden;
}
.main__paragraph {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.header__burger_btn {
  margin-right: 20px;
}
.header__logo {
  display: flex;
  margin-right: auto;
}
.header__contacts-item {
  display: none;
}
.service__btn-name {
  display: none;
}
.header__service__action {
  display: flex;
}
.logo__link {
  display: flex;
  margin-right: auto;
  align-items: center;
}
main {
  background-color: #f8f8f8;
  overflow: hidden;
  padding: 24px 24px 8px 24px;
}
.main__header {
  display: none;
}
h1 {
  position: relative;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}
.main__menu {
  overflow-x: auto;
}
.main__menu__list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 8px 16px;
  margin-top: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
  white-space: nowrap;
}
.main__menu__list-item:first-child {
  border: 2px solid;
  color: #b8ffec;
}
.main__menu__list-item {
  color: #7e7e82;
  border-radius: 4px;
  padding: 16px 6px;
  margin-right: 18px;
}
.content__paragraph {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.content__read-more-btn {
  color: #1b1c21;
  padding-left: 30px;
  margin-bottom: 16px;
}
.content__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__contacts-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 4px;
    margin-right: 16px;
  }
  .main__header {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content__text {
    padding: 0;
    margin-bottom: 0;
    width: 43%;
  }
  .content__image {
    width: 360px;
    height: 260px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }
  body {
    background-color: #f8f8f8;
  }
  .container {
    position: relative;
    max-width: 1440px;
    margin: auto;
  }
  .main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main__btn {
    background-color: #f8f8f8;
  }
  .content__image {
    width: 532px;
    height: 390px;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main__menu {
    display: flex;
    flex-wrap: wrap;
  }
  .main__service__btn-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-right: 9px;
  }
}
